<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project</title>

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/unicons.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{%static 'css/tooplate-style.css'%}">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-image'></i> Steganography</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><span data-hover="Home">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span  data-hover="Login"><i class='uil uil-user'></i>Encoder</span></a>
                    </li>
                     <li class="nav-item">
                        <a href="/Decoder" class="nav-link"><span  data-hover="Login"><i class='uil uil-user'></i>Decoder</span></a>
                    </li>

                </ul>


            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block"></span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Image Steganography with CNN Based Encoder-Decoder Model</span>
                                <div class="animated-info">
                                    <span class="animated-item">CNN Model</span>
                                    <span class="animated-item">Encoder Model</span>
                                    <span class="animated-item">Decoder Model</span>
                                </div>
                        </h1>


                        
                        <div class="custom-btn-group mt-4">
                          <a href="#contact" class="btn mr-lg-2 custom-btn"><i class='uil uil-login'></i> Login</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="{%static 'images/img.png'%}" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>





    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <image src="{%static 'images/OIP.jpeg'%}" style="border:0" allowfullscreen></image>
            </div>


          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Login Here</h2>

              <form action="/LogAction" method="post">
                  {%csrf_token%}
                <div class="row">
                  <div class="col-lg-12 col-12">
                    <input type="text" class="form-control" name="username" placeholder="User Name" id="name" required>
                  </div>
                    <br>
                  <div class="col-lg-12 col-12">
                    <input type="password" class="form-control" name="password" placeholder="Password" id="email" required>
                  </div>



                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Submit">

                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; Image Steganography with CNN Based Encoder-Decoder Model</p>

                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/Headroom.js'%}"></script>
    <script src="{%static 'js/jQuery.headroom.js'%}"></script>
    <script src="{%static 'js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/smoothscroll.js'%}"></script>
    <script src="{%static 'js/custom.js'%}"></script>

  </body>
</html>
